{% extends 'base.html.twig' %}

{% block title %}Benjamin Nsingi | Portfolio!{% endblock %}

{% block content %}

<div>
    {% include 'component/home.html.twig' %}
    {% include 'component/about.html.twig' %}
    {% include 'component/skills.html.twig' %}
    {% include 'component/portfolio.html.twig' %}
    {% include 'component/contact.html.twig' %}
</div>
{% endblock %}