<!--===== CONTACT =====-->
<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <div class="contact__info">
            <h3 class="contact__subtitle">EMAIL</h3>
            <span class="contact__text">b.nsingi07@gmail.com</span>

            <h3 class="contact__subtitle">TELEPHONE</h3>
            <span class="contact__text">07 68 03 31 07</span>

            <h3 class="contact__subtitle">ADRESSE</h3>
            <span class="contact__text">ILe-De-France</span>
        </div>

        <form action="" class="contact__form">
            <div class="contact__inputs">
                <input type="text" placeholder="Name" class="contact__input">
                <input type="mail" placeholder="Email" class="contact__input">
            </div>

            <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

            <input type="submit" value="Envoyer" class="contact__button">
        </form>
    </div>
</section>