<!--===== FOOTER =====-->
<footer class="footer section">

    <div class="footer__container bd-grid">
        <div class="footer__data">
            <h2 class="footer__title">Benjamin Nsingi</h2>
            <p class="footer__text">Je m'appelle Benjamin Nsingi et c'est mon site web personnel.</p>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">EXPLOREZ</h2>
            <ul>
                <li><a href="#home" class="footer__link">Accueil</a></li>
                <li><a href="#about" class="footer__link">À propos</a></li>
                <li><a href="#skills" class="footer__link">Compétences</a></li>
                <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                <li><a href="#Contact" class="footer__link">Contact</a></li>
            </ul>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">SUIVEZ-MOI</h2>
            <a href="https://github.com/benjaminnsingi" class="footer__social"><i class='bx bxl-github' ></i></a>
            <a href="https://fr.linkedin.com/in/benjamin-nsingi" class="footer__social"><i class='bx bxl-linkedin' ></i></a>
            <a href="https://twitter.com/benweb_" class="footer__social"><i class='bx bxl-twitter' ></i></a>
        </div>
    </div>
</footer>