<!--- Home ---->
<section class="home" id="home">
    <div class="home__container bd-grid">
        <h1 class="home__title"><span>Bon</span><br>jour.</h1>

        <div class="home__scroll">
            <a href="#about" class="home__scroll-link"><i class="bx bx-up-arrow-alt">Défilement</i></a>
        </div>

        <img src="{{ asset('/images/coding.png') }}" alt="" class="home__img">
    </div>
</section>