<!-- PORTFOLIO --->
<section class="portfolio section" id="portfolio">
    <h2 class="section-title">Portfolio</h2>

    <div class="portfolio__container bd-grid">
        {% for portfolio in portfolios %}
        <div class="portfolio__img buttons">
                <img src="/uploads/{{ portfolio.image }}" alt="{{ portfolio.title }}" class="img-thumbnail">
                <div class="portfolio__link">
                    <a href="{{ path('portfolio.show',  {slug: portfolio.slug,'id': portfolio.id}) }}" class="portfolio__link-name">En savoir plus</a>
                </div>
        </div>
        {% endfor %}
    </div>

</section>

