<!-- PORTFOLIO --->
<section class="portfolio section" id="portfolio">
    <h2 class="section-title">Portfolio</h2>

    <div class="portfolio__container bd-grid">
        <div class="portfolio__img">
            <img src="{{ asset('images/work1.jpg') }}" alt="">

            <div class="portfolio__link">
                <a href="#" class="portfolio__link-name">Voir</a>
            </div>
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/work2.jpg') }}" alt="">

            <div class="portfolio__link">
                <a href="#" class="portfolio__link-name">Voir</a>
            </div>
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/work3.jpg') }}" alt="">

            <div class="portfolio__link">
                <a href="#" class="portfolio__link-name">Voir</a>
            </div>
        </div>
    </div>
</section>